

        *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html{
    direction: rtl;
    scroll-behavior: smooth;
}

body{
    background-color: #555252;
}   

a{
    text-decoration: none;
    color: white;
}
header{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom , rgba(255, 0, 0, 0.603),rgba(0, 0, 255, 0.481));
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}
header::before{
    content: "";
    top :20px;
    height: 670px;
    width: 670px;
    background-image: url(./img/bearmane.avif);
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    margin-left: -6%;
    opacity: 0.5;
}
nav{
    height: 15vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.8);
}

nav.active{
    display: flex;
}

.hamborger.active span:nth-child(1){
    transform: rotate(45deg) translate(5px, 5px);
}
.hamborger{
    display: none;
    flex-direction: column;
    cursor: pointer;
     z-index: 1001;
     position: fixed;
}
.hamborger span{
    width: 25px;
    height: 3px;
    background-color: rgb(4, 4, 4);
    margin: 4px 0;
    transition: all 0.3s ease;
    border-radius: 8px;
    z-index: 1001;
}

.logo{
    font-size: 36px;
    letter-spacing: 1.8px;
    font-weight: 700;
    text-transform: capitalize;
    padding: 0 30px;
}
.menu ul li{
    list-style: none;
    display: inline-block;
    padding: 0px 18px;
}
.menu ul li a{ 
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 300;
    transition: all 0.3s ease;
    color: white;
}
.menu ul li a:hover{
    opacity: 0.5;
}
.btn{
    background-color: #ff6fff;
    margin-right: 20px;
    padding: 10px 25px;
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
    border-radius: 20px;
    transition: all 0.3s ease;
    color:black;
}
.btn:hover{
    background-color: #ff00aa;
}
.main-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.main-text h1{
    color: rgba(0, 0, 0, 0.801);
    font-size: 75px;
    text-transform: capitalize;
    font-weight: 600;
}
.main-text h3{
    color: rgb(0, 0, 0);
    font-size: 23px;
    text-transform: capitalize;
    font-weight: 400;
    position: relative;
}
.main-text h3::before{
    content: "";
    width: 55px;
    height: 3px;
    background-color: rgb(228, 31, 31);
    position: absolute;
    left: 120px;
    top: 16px;
    bottom: 0px;
}

/* prodects */
.prodects{
    width: 100%;
    height: 100vh;
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.prodect{
    width: 30%;
    background-color: #f0f0f0;
    margin: 0 0.5%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
     display: flex;
    flex-direction: column;
    align-items: center;
     justify-content: center;
     padding: 20px;
}
.prodect img{
    width: 100%;
    height: 60%;
    object-fit: cover;
    transition: all 0.3s ease;
    padding-bottom: 20px;
}
.prodect img:hover{
    transform: scale(.95);
    
}
.prodect h2{
    font-size: 24px;
    text-transform: capitalize;
    font-weight: 600;
    text-align: center;
}
.prodect p{
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 300;
    text-align: center;
}
.prodect a{
    display: block;
    width: 100px;
    margin: 10px auto;
    padding: 10px 0;
    background-color: #ff6fff;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
    border-radius: 20px;
    transition: all 0.3s ease;
}
.prodect a:hover{
    background-color: #ff00aa;
}
button{
    display: block;
    width: 150px;
    margin: 20px auto;
    padding: 10px 0;
    background-color: #ff6fff;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
    border-radius: 20px;
    transition: all 0.3s ease;
    border: none;
}
button:hover{
    background-color: #ff00aa;
}

/* about us */

.about{
    width: 100%;
    height: auto;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.about .content{
    width: 50%;
    height: 80%;
    background-color: #f0f0f0;
    margin: 0 1.5%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.about .content img{
    width: 50%;
    height: 100%;
    object-fit: cover;
    
}
.about .content .text{
    width: 50%;
    height: 100%;
    padding: 20px;
}
.about .content .text h2{
    font-size: 24px;
    text-transform: capitalize;
    font-weight: 600;
    margin-bottom: 20px;
}
.about .content .text p{
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 300;
    line-height: 1.5;
}

/* contact */
.contact{
    width: 100%;
    height: 100vh;
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact form{
    width: 50%;
    height: 80%;
    background-color: #f0f0f0;
    margin: 0 1.5%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contact form input, .contact form textarea{
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #e0e0e0;
}
.contact form button{
    width: 150px;
    padding: 10px 0;
    background-color: #ff6fff;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
    border-radius: 20px;
    transition: all 0.3s ease;
    border: none;
}
.contact form button:hover{
    background-color: #ff00aa;
}

/* footer */

footer{
    width: 100%;
    height: 15vh;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer p{
    color: white;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 300;
}
footer ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
footer ul li{
    list-style: none;
    margin: 0 10px;
}
footer ul li a{
    color: white;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 300;
    transition: all 0.3s ease;
}
footer ul li a:hover{
    color: #ff6fff;
}

@media (max-width: 768px){
    nav{
        flex-direction: column;
        height: auto;
        padding: 20px 0;
        display: none;
        position: fixed;
        width: 130%;
        left: 0;
        text-align: center;
    }

    nav.active {
        display: flex;
    }


    .menu ul li{
        display: block;
        padding: 10px 0;
    }
  .hamborger{
    display: flex;
    position: fixed;
    top: 20px;
    right: 20px;
     margin: 0; /* إلغاء أي margin إضافي */
        flex-direction: column;
        cursor: pointer;
        z-index: 1001;
}

    header{
        margin-bottom:60rem;
    }
    .prodects{
        flex-direction: column;
        margin-bottom:60rem;
    }
    .prodect{
        width: 80%;
        margin-bottom: 50px;
        
    }
    .about .content{
        flex-direction: column;
    }
    .about .content img, .about .content .text{
        width: 100%;
        height: 50%;
    }
    .contact, footer,
    .about{
        flex-direction: column;
        gap: 20px;
    }
    
}

/* modal container */
.prodect-modal {
    display: none; /* مخفي بشكل افتراضي */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

/* محتوى المودال */
.prodect-modal .modal-content {
       background: #fff;
    padding: 20px;
    border-radius: 15px;
    width: 90%;
    max-width: 400px;
    text-align: center;
    position: relative;

    transform: scale(0.5);
    transition: all 0.3s ease;
}

/* إظهار المودال */
.prodect-modal.show .modal-content {
    transform: scale(1);
}

/* زر الإغلاق */
.prodect-modal .close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 25px;
    cursor: pointer;
}

.prodect-modal img{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}
